body {
    background-color: black;
}

footer {
    background-color: bisque;
    color: aliceblue;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    text-align: center;
    font-size: 0.5rem;
}